.container {
  display: block;
  background: white;
}

.wrapper {
  padding: 2rem;
}

.orderedDetailContainer {
  margin-top: 1.5rem;
}

.passengerContainer {
  margin-top: 3rem;
}

.bookedTxt {
  color: red;
  font-size: 20px;
}

.codeContainer {
  display: flex;
}

.copyContainer {
  margin-top:-7px;
  margin-left: 0.5rem;
}

.hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.button {
  margin-top: 0.8rem;
  border-radius: 30px;
}

.copyAlert {
  position: absolute;
   margin-top: -3rem;
   padding: 0 0.5rem;
}

.uploadImageWrapper {
  border: dashed 1px #1976d2;
  text-align: center;
  padding: 1.5rem;
  cursor: pointer;
  margin-top: 3rem;
}